Repository andy-yuanchang/usdc-cross-chain-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, tsc --pretty --noEmit

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{js,json,ts,tsx,scss,css,md,mdx}": "prettier --write --ignore-unknown",
  "*.{ts,tsx}": "tsc --pretty --noEmit"
}

fix: mui typo
  src/components/wallet/WalletMenu.tsx
Due: eslint --fix, prettier --write --ignore-unknown, tsc --pretty --noEmit

fix: react-router error boundary
  package.json
  src/App.tsx
  src/constants/routes.tsx
  src/layouts/AppLayout.tsx
Due: eslint --fix, prettier --write --ignore-unknown, tsc --pretty --noEmit

fix: husky setup
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: update pnpm-lock
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: update pnpm-lock
  pnpm-lock.yaml
Due: none
